.wrapper{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.caption{
    line-height: 30px;
}
.value{
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    background-color: white;
    color: black;
    box-shadow: inset 0px 0px 10px -2px rgba(0,0,0,0.64);
    cursor: pointer;
}
.value:hover:after{
    content: "Click to change value";
    position: absolute;
    background-color: white;
    box-shadow: inset 0px 0px 10px -2px rgba(0,0,0,0.64);
    color: black;
    padding: 3px;
    border-radius: 5px;
    font-size: 1rem;
}