.navigation-menu{
    position: relative;
    height: 1.3rem;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
div.navigation-menu:nth-child(n+2){
    position: relative;
    left: -20px;
}
navi-button:nth-child(1){
    position: relative;
    left: 2px;
}