
<div class="application-wrapper center">
    <app-game-controls (restartEvent) = "restartTicTacToeComponent()" 
        (boardSizeChanged)="changeBoardSize($event)" 
        (toggleOponent)="toggleOponent()"
        (playersFigureChanged) = "changeHumansFigure($event)"   
        [nrOfFiguresInRowToWinn] = "nrOfFiguresInRowToWinn"
        [nextFigure] = "nextFigure"
        [humansFigure] = "humansFigure"
        [supportedGames] = "supportedGames"
        [oponent] = "oponent"
        [initialGame] = "initialGame"
        >
        
    </app-game-controls>
    <tic-tac-toe [mediator] = "mediator" 
            [boardSize] = "boardSize" 
            [nrOfFiguresInRowToWinn] = "nrOfFiguresInRowToWinn"
            (nextFigureChanged) = "nextFigureChange($event)"
            [initialState] = "initialState"
            [humansFigure] = "humansFigure"
            >
        </tic-tac-toe>
</div>


