
<div class="application-wrapper center">
    <app-game-controls (restartEvent) = "restartTicTacToeComponent()" 
        (boardSizeChanged)="changeBoardSize($event)" 
        (toggleOponent)="toggleOponent()"
        (playersFigureChanged) = "changeHumansFigure($event)"   
        [initialState] = "initialState">
        
    </app-game-controls>
    <tic-tac-toe [mediator] = "mediator" 
            [boardSize] = "boardSize" 
            [nrOfFiguresInRowToWinn] = "nrOfFiguresInRowToWinn"
            (nextFigureChanged) = "nextFigureChange($event)"
            [initialState] = "initialState">
        </tic-tac-toe>
</div>
