<div class="application-wrapper center">
  <div class="board">
    <div class="rows" *ngFor = "let row of rowIds" id='{{row}}'>
      <div class="cell center {{row==1?'first-row':''}} 
            {{row==rowIds.length?'last-row':''}} 
            {{col==1?'first-column':''}} 
            {{col==colIds.length?'last-column':''}}"
            (click) = "boardHandler.fireOnclickHandlerAtRowColumn(row, col)"
            *ngFor = "let col of colIds" id="{{row}} {{col}}">
            <ng-container [ngSwitch]="boardHandler.getFigureAtRowColumn(row, col)">
                <ng-container *ngSwitchCase="circle"><ng-container *ngTemplateOutlet="circle"></ng-container></ng-container>
                <ng-container *ngSwitchCase="cross"><ng-container *ngTemplateOutlet="cross"></ng-container></ng-container>
                <ng-container *ngSwitchDefault><ng-container *ngTemplateOutlet="none"></ng-container></ng-container>
            </ng-container>
            <!-- <div *ngIf="boardHandler.getFigureAtRowColumn(row, col)=='circle'; then circle else cross"></div> -->
      </div>
    </div>
  </div>
</div>

<ng-template #cross>
    <div class="wrapper">
        <div class="right-cross"></div>
        <div class="left-cross"></div>
    </div>
</ng-template>
<ng-template #circle>
    <div class="wrapper">
        <div class="circle"></div>
    </div>
</ng-template>
<ng-template #none></ng-template>