
<div class="game-controls-wrapper center">
    <div class="round-button center" (click) = "restartOnClick()">&#11119;</div>
    <app-expandable-list [listOfOptions] = "gameSizes" (optionChosen) = "boardSettingsChanged($event)"></app-expandable-list>
    <app-onclick-change-component [caption]="'Oponent'" [arrayOfValues]="oponents" (valueChanged) = "opponentToggled()">
    </app-onclick-change-component>
    <app-presentation-component [caption] = "'Next'" [presentValue] = "nextFigure == 'Circle'?'&#9675;':'&times;'"></app-presentation-component>
</div>