
<div class="game-controls-wrapper center">
    <div class="row center"><h3>Tic - Tac - Toe</h3></div>
    <div class="row center" >
        <app-onclick-change-component [caption]="'Oponent'" [arrayOfValues]="oponents" (valueChanged) = "opponentToggled()"></app-onclick-change-component>
        <app-onclick-change-component [caption]="'You are'" [arrayOfValues]="figureSymbols" (valueChanged) = "playerFigureChanged($event)"></app-onclick-change-component>
        <app-presentation-component [caption] = "'Next'" [presentValue] = "nextFigure == 'Circle'?'&#9675;':'&times;'"></app-presentation-component>            
    </div>
    <div class="row center">
        <div class="round-button center" (click) = "restartOnClick()">&#11119;</div>
        <app-expandable-list [listOfOptions] = "gameSizes" (optionChosen) = "boardSettingsChanged($event)"></app-expandable-list>        
    </div>
</div>