.wrappMenuWithWarning{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

h3{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
}
.center{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.row{
    position: relative;
    width: 100%;
    height: 3rem;
    justify-content: space-between;
}
.game-controls-wrapper{
    --blue: #124191;
    position: relative;
    width: 20rem;
    /* height: 3rem; */
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    padding: 0.5rem;
    background-color: var(--blue);
    color: white;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    box-shadow: inset 0px 0px 46px -8px rgba(0,0,0,0.64);
}

.round-button{
    color: var(--blue);
    background-color: white;
    font-size: 2rem;
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: inset 0px 0px 30px -8px rgba(0,0,0,0.64);
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.9,1.93,.03,.28);
}
.round-button:hover{
    cursor: pointer;
    transform: rotate(-145deg);
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.9,1.93,.03,.28);
    background-color: greenyellow;
}

round-button{
    align-self: flex-start;
}

.red{color: red; transform: rotate(15deg); position: relative; display: inline-block;}
.yellow{color: yellow; transform: rotate(-15deg); position: relative; display: inline-block;}
.green{color: green; transform: rotate(5deg); position: relative; display: inline-block;}
.blue{color: #66ccff; transform: rotate(-5deg); position: relative; display: inline-block;}
.orange{color: #ffad33; transform: rotate(10deg); position: relative; display: inline-block;}
.pink{color: #ff66ff; transform: rotate(-7deg); position: relative; display: inline-block;}
.gold{color: #cccc00; transform: rotate(12deg); position: relative; display: inline-block;}
.gray{color: #aaa; transform: rotate(-10deg); position: relative; display: inline-block;}
